%n-light {
  font-family: "Nunito-Light";
  font-weight: 300;
}
%n-regular {
  font-family: "Nunito-Regular";
  font-weight: 400;
}
%n-semibold {
  font-family: "Nunito-SemiBold";
  font-weight: 600;
}
%n-bold {
  font-family: "Nunito-Bold";
  font-weight: 700;
}
%n-black {
  font-family: "Nunito-Black";
  font-weight: 900;
}
